<div class="chat-message-container">
  <div class="row no-gutters">
    <div class="col-auto text-center">

      <% if room_message.user.photo.attached? %>
        <%= cl_image_tag room_message.user.photo.key, class: "avatar" %>
      <% else %>
        <%= image_tag "https://res.cloudinary.com/dfi8ju7lr/image/upload/v1678190796/BoozeHounds/dropdown_oddycz.png", class: "avatar" %>
      <% end %>
    </div>

    <div class="col">
      <div class="message-content">
        <p class="mb-1">
          <%= room_message.message %>
        </p>

        <div class="text-right">
          <small>
            <%= room_message.created_at %>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
