<div class="footer">
  <div class="info">
    <p>BoozeHounds Inc.  Privacy  Terms  Company Details</p>
  </div>
  <div class="icons">
    <h3 class="fa-brands fa-facebook"></h3>
    <h3 class="fa-brands fa-instagram"></h3>
    <h3 class="fa-brands fa-twitter"></h3>
  </div>
</div>




