<div class="homepage">
<div class="boozehounds">
  <h1>Booze Hounds</h1>
  <p>Boozers for you and your hound</p>
  <form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-dark" type="submit">Go!</button>
  </form>
</div>



<div id="pubCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="4000">
      <%= image_tag("doggos.webp") %>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <%= image_tag("dog_pints") %>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <%= image_tag("dog_bar.jpeg") %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#pubCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#pubCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
