<div class="containerr mt-3">
  <h2>Have a chin wag with hounds in your area: </h2>
  <br>

  <div class="row">
    <div class="col-12 col-md-3">
      <%= render partial: 'rooms' %>
    </div>

    <div class="col">
      <div class="alert alert-primary">
        <h4 class="alert-heading">
          Welcome to BoozeHound Chat!
        </h4>

        <p>
          Talk with your fellow locals!
        </p>

        <hr />

        <p>
          You can create or join a room from the sidebar.
        </p>
      </div>
    </div>
  </div>

<% if @rooms.present? %>
  <nav class="nav flex-column">
    <% @rooms.each do |room| %>
      <%= link_to room.name, pub_room_path(room.pub, room), class: 'nav-link room-nav-link'%>
    <% end %>
  </nav>
<% else %>
  <div class="text-muted">
    The are no rooms
  </div>
<% end %>

<div class="mt-3">
  <%= link_to new_room_path, class: 'btn btn-primary' do %>
    Create a room
  <% end %>
</div>
</div>
