
<div class="form-container">
  <div class="form-inputs">
    <h1>
    Create a room for your favourite pub!
    </h1>

    <%= render partial: 'form', locals: {pub: @pub, room: @room} %>
  </div>
</div>
