.btn {
background-color: #D8D4F2(0, 0, 0, 0);
border-radius: 100px;
border-color: black(255, 255, 255);
box-shadow: 0px 0px 15px black(255, 0, 0);
margin-bottom: 10px;
color: #f2c747d4;
border: 1px solid black;

}

// a {
//   background-color: #f2c747d4(0, 0, 0, 0);
//   border-radius: 100px;
//   border-color: black(255, 255, 255);
//   box-shadow: 0px 0px 15px black(255, 0, 0);
//   margin-bottom: 10px;
//   color: black(10, 255, 5);
//   border: 1px solid black;
//   background: #D8D4F2;
//   color: #000;
//   text-decoration: none;
// }

// .a .btn{
//   background-color: #f2c747d4(0, 0, 0, 0);
//   border-radius: 100px;
//   border-color: black(255, 255, 255);
//   box-shadow: 0px 0px 15px black(255, 0, 0);
//   margin-bottom: 10px;
//   color: black(10, 255, 5);
//   border: 1px solid black;
//   background: #D8D4F2;
//   color: #000;
//   text-decoration: none;
// }

a chat-link{
  background-color: #f2c747d4(0, 0, 0, 0);
  border-radius: 0.3pc;
  border-color: black(255, 255, 255);
  box-shadow: 0px 0px 15px black(255, 0, 0);
  margin-bottom: 10px;
  color: black(10, 255, 5);
  border: 1px solid black;
  background: #D8D4F2;
  color: #000;
  text-decoration: none;
  padding: 0.4pc;
  font-size: large;
}

a card--favourite-final {
  text-decoration: none;
}

.chat-link:hover {
  transition: 0.3s;
  color: black;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  text-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.btn:hover{
  color: white;
  transition: 0.35s;
  border: 1px solid white;
}

.btn-primary:hover{
  color: white;
  transition: 0.35s;
  }

.btn-dark{
  color: black;
  background-color: #f9b04bd4;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 50px;
  border: 1px solid #ced4da;
  width: 150px;
}

.btn-dark:hover {
  background-color: #f2c747d4;
}

.btn-dice {
  border-radius: 0px;
  margin: auto auto;
}

.fa-dice{
  font-size: x-large;
}

.fa-dice:hover{
  color:#C66D25;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.btn-primary{
  border-radius: 0.3pc;
  border-color: black(255, 255, 255);
  box-shadow: 0px 0px 15px black(255, 0, 0);
  margin-bottom: 10px;
  color: black(10, 255, 5);
  border: 1px solid black;
  background: #f2c747d4;
  color: #000;
  text-decoration: none;
  padding: 0.4pc;
  font-size: large;
  transition: 0.35s;
}

.btn-primary-chat{
  background-color: #f2c747d4(0, 0, 0, 0);
  border-radius: 0.3pc;
  border-color: black(255, 255, 255);
  box-shadow: 0px 0px 15px black(255, 0, 0);
  margin-bottom: 10px;
  color: black(10, 255, 5);
  border: 1px solid black;
  background: #D8D4F2;
  color: #000;
  text-decoration: none;
  padding: 0.4pc;
  font-size: large;
  transition: 0.35s;
}

.btn-primary-delete{
  background-color: #f2c747d4(0, 0, 0, 0);
  border-radius: 0.3pc;
  border-color: black(255, 255, 255);
  box-shadow: 0px 0px 15px black(255, 0, 0);
  margin-bottom: 10px;
  color: black(10, 255, 5);
  border: 1px solid black;
  background: #f9b04bd4;
  color: #000;
  text-decoration: none;
  padding: 0.4pc;
  font-size: large;
  transition: 0.35s;
}


.btn-primary:hover {
  background-color: #f2c747d4(0, 0, 0, 0);
  border-radius: 0.3pc;
  border-color: black(255, 255, 255);
  box-shadow: 0px 0px 15px black(255, 0, 0);
  margin-bottom: 10px;
  color: white;
  border: 1px solid black;
  background: #f2c747d4;
  text-decoration: none;
  padding: 0.4pc;
  transition: 0.35s;
}

.submit-button {
  background-color: white;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  transition: 0.3s;
  background-image: url("https://res.cloudinary.com/dfi8ju7lr/image/upload/v1678716836/BoozeHounds/pubs/filters/filter_icon_p9vvnz.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left;
  width: 70px;
  height: 40px;
  text-align: right;
  transition: 0.35s;
}

.submit-button:hover {
  background: rgba($color: #000000, $alpha: 0.7);
  transition: 0.35s;
  color: white;
  background-image: url("https://res.cloudinary.com/dfi8ju7lr/image/upload/v1678716836/BoozeHounds/pubs/filters/filter_icon_p9vvnz.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left;
  text-align: right;
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.add-dog-button {
  border-radius: 0.3pc;
  border-color: black(255, 255, 255);
  box-shadow: 0px 0px 15px black(255, 0, 0);
  margin-bottom: 10px;
  color: black(10, 255, 5);
  border: 1px solid black;
  background: #f2c747d4;
  color: #000;
  text-decoration: none;
  padding: 0.4pc;
  font-size: large;
  transition: 0.3s;
}

.add-dog-button:hover {
  background-color: #f2c747d4(0, 0, 0, 0);
  border-radius: 0.3pc;
  border-color: black(255, 255, 255);
  box-shadow: 0px 0px 15px black(255, 0, 0);
  margin-bottom: 10px;
  color: white;
  border: 1px solid black;
  background: #f2c747d4;
  text-decoration: none;
  padding: 0.4pc;
  transition: 0.35s;
}

.a {
  cursor: pointer;
}

#navbarDropdown {
  cursor: pointer;
}

.btn-primary-fav {
  border-radius: 0.3pc;
  border-color: black(255, 255, 255);
  box-shadow: 0px 0px 15px black(255, 0, 0);
  margin-bottom: 10px;
  color: black(10, 255, 5);
  border: 1px solid black;
  background: #f2c747d4;
  color: #000;
  text-decoration: none;
  padding: 0.4pc;
  font-size: large;
  transition: 0.35s;
  width: 70px;
  align-self: center;
}
