.card {
  background-color: rgba(0,0,0,0.0);
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 317px;
  border-radius: 10px;
  box-shadow: 0 0 2px rgba(0,0,0,1);
  display: flex;
  align-items: left;
  justify-content: space-around;
  font-size: 22px;
  color: black;
  padding: 20px;
  margin: 25px;
  border: 1px, solid, white;
  transition: 0.35s;
  text-decoration: none;
}

// .card:hover {
//   transition: 0.35s;
//   color: rgba(0,0,0,1);
//   text-shadow: 0 0 10px rgb(0, 0, 5);
//   box-shadow: 0 0 80px rgba(0,0,0,1);
//   animation-iteration-count: infinite;
//   height: 410px;
//   width: 320px;
// }

.view-card {
  background-color: rgba(0,0,0,0.0);
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 317px;
  border-radius: 10px;
  box-shadow: 0 0 2px rgba(0,0,0,1);
  display: flex;
  align-items: left;
  justify-content: space-around;
  font-size: 22px;
  color: black;
  padding: 20px;
  margin: 25px;
  border: 1px, solid, white;
  transition: 0.35s;
  text-decoration: none;
}
