@import "btn";

avatar {
  max-height:30px;
  border-radius: 50%;
  width:auto;
  vertical-align:middle;
}

.room-nav-link {
  border: 1px solid lighten($primary, 40%);
  background: lighten($primary, 45%);
  & + .room-nav-link {
    border-top: 0 none;
  }
}

.chat {
  border: 1px solid lighten($secondary, 40%);
  background: lighten($secondary, 50%);
  height: 50vh;
  border-radius: 5px;
  overflow-y: auto;
}

.chat-input {
  border-radius: 5px;
  height: 5vh;
}

.container-chat {

  margin-top: 25px;
  margin-left: 40px;
  margin-right: 90px;
  }
.container-chat-groups {
  width:auto;
  display: flex;
  }

.container-fluid {
  margin-left: 20px;
}

.nav-link {
  margin-right: 0.7pc;
}

.text-center {
  display: flex;
  
}
