.containerr {
  margin-left: 50px;
  margin-right: 50px;
}


.filters {
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(120,120,120,0.3);
  width: 270px;
  box-shadow: 0 0 3px rgba(120,120,120,1);
  transition: 0.3s;
}

.checkbox {
  height: 13px;
  width: 13px;
}

.checkbox:hover {
  box-shadow: 0 0 2px rgba(60, 179, 113,1);
}

.top_index {
  display: flex;
}

.website-link {
  text-decoration: none;
}


.container-fluid {
  padding-right: 15px;
  margin-left: 0;

}

.filtering {
  background-color: white;
  display: flex;
  justify-content: space-between;
  background-color: none;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  padding: 11px;
  border-radius: 25px;
  position: sticky;
  top: 15px;
  align-self: flex-start;
  z-index: 100;
}

.filter-button {
 border: none;
 background-color: white;
 transition: 0.3s;
 border-radius: 3px;
}

.filter-button:hover {
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  transition: 0.3s;
 }

.checkbox {
  position: absolute;
  transform: scale(0);
}

.checkbox + label {
  border-radius: 5px;
  padding: 5px;
  cursor:pointer;
}

.checkbox + label:hover {
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.checkbox:checked +label {
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  border-radius: 5px;
}

.flex-containerr {
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-wrap: wrap;
}

.review-container {
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  border-radius: 5px;
}

.add-dog-button {
  font-size: 16px;
}

.view-container {
  display: flex;
}

.show-flex-box{
  display: flex;
}

.index-columns {
  display: flex;
}
