.containerr {
  margin-left: 3.8%;
  margin-right: 3.8%;
}

.filters {
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(120,120,120,0.3);
  width: 270px;
  box-shadow: 0 0 3px rgba(120,120,120,1);
  transition: 0.3s;
}

.top_index {
  display: flex;
}

.website-link {
  text-decoration: none;
}


.container-fluid {
  padding-right: 15px;
  margin-left: 0;

}

.filtering {
  height: 60px;
  font-size: 13px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: none;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  padding: 11px;
  border-radius: 25px;
  position: sticky;
  top: 64px;
  align-self: flex-start;
  z-index: 100;
  table-layout: fixed;
}

.filter-button {
  border: none;
  background-color: white;
  transition: 0.3s;
  border-radius: 3px;
}

.filter-button:hover {
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  transition: 0.3s;
}

.checkbox {
  visibility: hidden;
  height: 13px;
  width: 13px;
}

.checkbox + label {
  border-radius: 5px;
  padding: 5px;
  cursor:pointer;
}

#garden + label {
  background-image: url("https://res.cloudinary.com/dfi8ju7lr/image/upload/v1678716835/BoozeHounds/pubs/filters/garden_icon_ia0e5w.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left;
  width: 110px;
  height: 35px;
  text-align: right;
  padding: 10px;
}

#parking + label {
  background-image: url("https://res.cloudinary.com/dfi8ju7lr/image/upload/v1678716835/BoozeHounds/pubs/filters/parking_icon_nlwurh.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left;
  width: 110px;
  height: 35px;
  text-align: right;
  padding: 10px;
}

#live_sport + label {
  background-image: url("https://res.cloudinary.com/dfi8ju7lr/image/upload/v1678716835/BoozeHounds/pubs/filters/live_sport_icon_iqrj1u.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left;
  width: 110px;
  height: 35px;
  text-align: right;
  padding: 10px;
}

#non_alcoholic_drinks_selection + label {
  background-image: url("https://res.cloudinary.com/dfi8ju7lr/image/upload/v1678716835/BoozeHounds/pubs/filters/non_alcoholic_selection_icon_wjvx3v.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left;
  width: 110px;
  height: 35px;
  text-align: right;
  padding: 10px;
}

#wheelchair_accessible + label {
  background-image: url("https://res.cloudinary.com/dfi8ju7lr/image/upload/v1678716835/BoozeHounds/pubs/filters/wheelchair_accessible_icon_uzvgyd.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left;
  width: 110px;
  height: 35px;
  text-align: right;
  padding: 10px;
}

#food_menu + label {
  background-image: url("https://res.cloudinary.com/dfi8ju7lr/image/upload/v1678716835/BoozeHounds/pubs/filters/food_menu_icon_q524b5.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left;
  width: 110px;
  height: 35px;
  text-align: right;
  padding: 7px;
}

.checkbox + label:hover {
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.checkbox:checked + label {
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  border-radius: 5px;
}

.flex-containerr {
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-wrap: wrap;
}

.review-container {
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  border-radius: 5px;
}

.add-dog-button {
  font-size: 16px;
}

.view-container {
  display: flex;
}

.show-flex-box{
  display: flex;
  justify-content: space-between;
  width: 99.5%;
}

.index-columns {
  display: flex;
}

#pub-times {
  font-weight: 500;
}
