.footer {
  display: flex;
  background: #FDC348;
  height: 60px;
  justify-content: space-between;
}

.info {
  padding-top: 20px;
  padding-left: 5px;
}

.icons {
  text-align: end;
  padding-top: 15px;
  padding-right: 5px;

}

.footer h3 {
  align-content: end;
  padding: 2px;
}
