.mapboxgl-popup {
  max-width: 100px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-size: 12px;
}

.popup-marker {
  padding-top: 10px;
}

#map {
  border-radius: 10px;
  position: sticky;
  top: 140px;
  align-self: flex-start;
  margin-top: 10px;
}
