.navbar-lewagon {
  justify-content: space-between;
  display: flex;
  background: #fcfbfa;
  height: 60px;
  font-family: 'Montserrat Alternates', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding-right: 45px;
  padding-left: 50px;
}

.navbar-lewagon h1{
  display: flex;
  font-family: 'Montserrat Alternates', sans-serif;
  margin-left: 0px;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  display: flex;
  width: 350px;
  height: 50px;
}

.navbar-nav me-auto{
  display: inline-block
}

.nav-width {
  width: 105px;
  text-align: left;
}
.nav-item {
  margin-right: 0px;
}
