.navbar-lewagon {
  justify-content: space-between;
  display: flex;
  background: #fcfbfa;
  height: 60px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.navbar-lewagon h1{
  display: flex;
  font-family: 'Montserrat Alternates', sans-serif;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  display: flex;
  width: 350px;
  height: 50px;
}

.navbar-nav me-auto{
  display: inline-block
}

.nav-width {
  width: 105px;
  text-align: left;
}

.container-fluid {
  align-items: flex-end;
  margin-left: 10px;

}
